@import url(./Color.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "roboto-regular", sans-serif;
}
body {
  overflow-y: hidden;
  background-color: var(--OffBlack);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.card {
  background-color: var(--DarkGrey);
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}
.profile-img {
  border-radius: 50%;
  width: 30%;
}
.profile-name {
  color: var(--White);
  font-size: 20px;
  margin: 5px 0 0 0;
}
.addr {
  color: var(--Primary);
  font-size: 12px;
  margin-top: 3px;
}
.info {
  color: var(--White);
  font-size: 12px;
  margin-top: 1rem;
}
.links {
  width: 100%;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
  margin: 10px 0 0 !important;
}
.links li {
  list-style: none;
  color: var(--White);
  font-size: 12px;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--Grey);
  width: 80%;
  text-align: center;
  margin: 0px 0 10px 0px;
}
.links li:hover {
  background-color: var(--Primary);
  color: var(--OffBlack);
}

@media only screen and (max-width: 767px) {
  .card {
    width: 50%;
  }
}
@media only screen and (max-width: 375px) {
  .card {
    width: 80%;
  }
}
